html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.title img{
  height: 50px;
  padding: 10px;
}

a{
  color: seashell;
}

.missiontext{
  background-color: black;
  width: 1200px;
}

nav{
  display:flex;
  justify-content: space-between;
}

.nav{

    text-decoration: underline;
}

.nav p{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.ourmission h2{
  text-align: center;
  justify-content: center;
  display: block;
  vertical-align: center;
  padding: 0;
}

.list h4{
  text-align: center;
  justify-content: center;
  display: block;
  vertical-align: center;
  padding: 0;
}

p nav{
  margin: 10px;
}
.header{
  display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.title img{
  display: flex;
    justify-content: flex-start;
}

.mission{
  display: block;
  padding-top: 69px;
    height: 700px;
    width: 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg")

}

h2,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.locations div {
  margin: 20px;
  width: 300px;
  opacity: 1;
}

.locations{
  height: 500px;
  width: 1200px; /** might not be right **/
  /** width: 100%**/
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg")
}

footer{
  height: 200px;
  text-align: center;
}

.copyright{
  padding:20px;
  text-align: left;
}

.downtown,
.east,
.oakdale{
  background-color: black;
  text-align: center;
  display:inline-block;
}

.location-flex{
  display: flex;
  justify-content: center;
}

.month{
  justify-content: center;
}

.three{
  display: flex;
  justify-content: center;
  text-align: center;
}

.two{
  display: flex;
  justify-content: center;
  text-align: center;
}
.image{
  text-align: center;
}

.top{
  background-color: none;
  text-align: center;
  margin: 15px;
}

img {
  margin: 10px;
}

.image img{
  height: 200px;
  width: 300px;
}
